/************use_sasu css start***************/
/* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part {
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 99;
}

@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
  .pricing_part {
    padding: 70px 0 40px;
  }
}

/* line 13, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .feature_icon_2 {
  position: absolute;
  left: 15%;
  top: 8%;
  z-index: -1;
}

/* line 19, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part {
  text-align: center;
  padding: 40px 40px 32px;
  border: 1px solid #eaecee;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

@media (max-width: 991px) {
  /* line 19, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
  .pricing_part .single_pricing_part {
    padding: 40px 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 19, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
  .pricing_part .single_pricing_part {
    padding: 40px;
  }
}

/* line 31, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part img {
  margin-bottom: 18px;
  height: 65px;
}

/* line 35, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part p {
  color: #182028;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 27px;
}

/* line 42, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part h3 {
  font-size: 30px;
  font-weight: 600;
  border-top: 1px solid #eee;
  margin-bottom: 5px;
  padding-top: 24px;
}

/* line 48, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part h3 span {
  font-size: 16px;
  color: #919191;
  font-weight: 400;
}

/* line 54, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part .pricing_btn {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  display: inline-block;
  color: #182028;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 62, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part .pricing_btn:hover {
  color: #ff4800;
}

/* line 67, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part ul {
  padding: 12px 0 20px;
  border-bottom: 1px solid #eaecee;
}

@media (max-width: 991px) {
  /* line 67, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
  .pricing_part .single_pricing_part ul {
    margin: 16px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 67, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
  .pricing_part .single_pricing_part ul {
    margin: 20px 0;
  }
}

/* line 77, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part ul li {
  font-size: 14px;
  color: #7f7f7f;
  text-transform: capitalize;
  margin: 10px 0;
  list-style:none;
}

/* line 84, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part .pricing_btn {
  padding-top: 33px;
}

@media (max-width: 991px) {
  /* line 84, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
  .pricing_part .single_pricing_part .pricing_btn {
    padding-top: 10px;
  }
}

/* line 93, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part:hover {
  border: 1px solid transparent;
  box-shadow: 0px 20px 30px 0px rgba(24, 32, 40, 0.05);
}

/* line 96, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.pricing_part .single_pricing_part:hover .pricing_btn {
  color: #ff4800;
}

/* line 103, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_pricing_plan.scss */
.single_page_pricing .left_shape_1 {
  display: none;
}
